<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('head.ejs') %>

    <link rel="stylesheet" href="css/login.css">

    <title></title>
</head>

<body>
    <% if (user?.userId) { %>
        <%- include('header.ejs') %>
    <% } %>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 divPcListContainer">
                PC 목록
                <div class="divPcList">
                    <p id="selectPC" style="font-size:30px">컴퓨터를 선택해주세요.</p>
                    <div class="row" id="divPcRow0">
                    </div>
                    <div class="row" id="divPcRow1">
                    </div>
                    <div class="row" id="divPcRow2">
                    </div>
                    <div class="row" id="divPcRow3">
                    </div>
                </div>
            </div>
            <div class="col-4">
                로그인
                <div id="divLogin">
                    <div class="row">
                        <label for="loginId" class="col-3 col-form-label loginText">ID</label>
                        <div class="col">
                            <input id="loginId">
                        </div>
                    </div>
                    <div class="row">
                        <label for="loginPassword" class="col-3 col-form-label loginText">패스워드</label>
                        <div class="col">
                            <input id="loginPassword" type="password">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary loginButton" onclick="login()">로그인</button>
                    <p style="margin-top:6px"><a href="/signup">회원가입</a></p>
                </div>

                <div id="divPcOrder">
                    <div class="container" id="pcOrderContainer">
                        <p style="font-size: 40px;" id="selectedPcNum">PC #</p>
                        <div class="row">
                            <label for="pcOrderTime" class="col-4 col-form-label loginText">이용할 시간:</label>
                            <div class="col-2">
                                <input id="pcOrderTime" type="number" style="text-align: center;" min="1" max="12" onkeyup="pointsDeducted()" onmouseup="pointsDeducted()">
                            </div>
                        </div>
                        <div id="userPoints">
                            <p>보유 포인트: <%- user?.points %>p</p>
                            <p id="pointsDeducted">차감 포인트: </p>
                            <p id="pointsRemaining">잔여 포인트: </p>

                            <button type="button" class="btn btn-primary commonButton" onclick="postPcOrder()">결제하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>


<script>
    $(document).ready(function () {
        // 로그인 되어있는지 확인
        let pcOrder = '<%= pcOrder %>'
        let endDateTime = '<%= pcOrder?.endDateTime %>'
        endDateTime = endDateTime.toString()
        let user = '<%= user %>'
        let userRole = '<%= user?.role %>'

        // console.log('endDateTime', endDateTime)
        // console.log('endDateTime === undefined', endDateTime === undefined)
        // console.log('Date.now()', Date.now())
        // console.log('endDateTime < Date.now()',new Date(endDateTime) < Date.now())
        // console.log('endDateTime > Date.now()',new Date(endDateTime) > Date.now())

        if (!user) {
            document.getElementById('divPcOrder').style.display = 'none'
        } else if (userRole === 'customer') {
            // 고객으로 로그인 되어있으면:
            // pcOrder가 존재하지 않거나 
            
            // console.log(endDateTime,!endDateTime)
            // console.log('endDateTime === undefined || new Date(endDateTime) < Date.now()',endDateTime === undefined || new Date(endDateTime) < Date.now())
            if (endDateTime === undefined || new Date(endDateTime) < Date.now()) {
                document.getElementById('divLogin').style.display = 'none'
                document.getElementById('divPcOrder').style.display = 'block'
                document.getElementById('selectPC').style.display = 'block'
            } else if (new Date(endDateTime) > Date.now()) {
                // 고객이 이용시간을 결제했고 현재 시간이 이용 마감 시간 전이면:
                window.location.href='/foodOrder'
            }
        } else if (userRole === 'admin') {
            // 관리자로 로그인 되어있으면:
            window.location.href = '/admin'
        }


        // PC 목록 불러오기
        $.ajax({
            type: 'GET',
            url: `/api/pcs`,
            async: false,
            success: function (response) {
                let pcId
                let pcStatus
                let temp_html
                let divPcRow
                const userId = '<%= user.userId %>'
                
                for(let i=0; i<response.length; i++) {
                    pcId = response[i].pcId
                    pcStatus = response[i].pcStatus
                    divPcRow = `divPcRow${Math.floor(i/4)}`

                    if (pcStatus===true) {
                        temp_html = `<div class="col-2 divPc">
                                        <img src="./images/pcDisabledIcon.png">
                                        PC ${pcId}
                                    </div>`
                        $('#'+divPcRow).append(temp_html)
                    } else if (pcStatus===false) {
                        temp_html = `<div class="col-2 divPc">
                                        <img class="${userId ? 'pcAvailable' : ''}" onclick="${userId ? `selectPc(${pcId})` : ''}" src="./images/pcEnabledIcon.png">
                                        PC ${pcId}
                                    </div>`
                        $('#'+divPcRow).append(temp_html)
                    }
                }
            },
        });

    })

    // 로그인
    function login() {
        const id = $('#loginId').val()
        const password = $('#loginPassword').val()

        if (!id || !password) {return alert('아이디와 패스워드를 입력해주세요.')}

        $.ajax({
            type: 'POST',
            url: '/api/users/login',
            data: {
                id: id,
                password: password,
            },
            success: function (response) {
                if (response.role === 'admin') {
                    window.location.href='/admin'
                } else {
                    window.location.href='/'
                }
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    // 이용 시간 누를 시 차감 포인트 업데이트
    function pointsDeducted() {
        let orderTime = $('#pcOrderTime').val()
        orderTime = Number(orderTime)

        let userPoints = '<%= user.points %>'
        userPoints = Number(userPoints)

        let pointsRemaining  = userPoints - orderTime * 1000

        document.getElementById('pointsDeducted').innerHTML = '차감 포인트: '+ orderTime * 1000 + 'p'
        document.getElementById('pointsRemaining').innerHTML = '잔여 포인트: ' + pointsRemaining + 'p'

    }

    // PC 클릭시 PC 번호 저장
    function selectPc(pcId) {
        document.getElementById('selectedPcNum').innerHTML = `PC #${pcId}`
    }

    // 이용시간 구매
    function postPcOrder() {
        let orderTime = $('#pcOrderTime').val()
        orderTime = Number(orderTime)

        let userPoints = '<%= user?.points %>'
        userPoints = Number(userPoints)

        let pointsRemaining  = userPoints - orderTime * 1000

        if (pointsRemaining < 0) {
            return alert('포인트가 부족합니다!')
        }

        if (orderTime < 1 || orderTime > 12) {
            return alert('이용 시간은 1시간부터 12시간까지입니다.')
        }

        const userId = '<%= user.userId %>'
        const [_, pcId] = $('#selectedPcNum').text().split('PC #')

        if (!pcId) {
            return alert('이용할 PC를 선택해주세요.')
        }

        const startDateTime = luxon.DateTime.now().toFormat('yyyy-MM-dd HH:mm:ss')
        const endDateTime = luxon.DateTime.now().plus({hours: orderTime}).toFormat('yyyy-MM-dd HH:mm:ss')
        const deductedPoints = orderTime * 1000

        console.log(startDateTime, endDateTime)

        $.ajax({
            type: 'POST',
            url: `/api/pcOrder/${userId}/${pcId}`,
            data: {
                startDateTime: startDateTime,
                endDateTime: endDateTime,
                deductedPoints: deductedPoints
            },
            success: function (response) {
                window.location.href='/foodOrder'
            },
            error: function (response) {
                alert(response.message)
            }
        })
    }

</script>

</html>